@tailwind base;
@tailwind components;
@tailwind utilities; 

@layer components {
  .text-primary {
    color: var(--primary-color);
  }

  .bg-light {
    background-color: var(--light-color);
  }

  .bg-primary {
    background-color: var(--primary-color);
  }

  .bg-prim-opa {
    background-color: var(--primary-color);
    opacity: 0.9;
  }
 
}

:root {
  --primary-color: #2980B9;
  --dark-color: #34495E;
  --light-color: #ECF0F1;
} 

html,
body {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;

  background-color: #FAFAFA;
}

html,
input,
button {
  font-family: 'Poopins', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: var(--dark-color);
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

input,
button,
a {
  color: inherit;
}
