@tailwind base;
@tailwind components;
@tailwind utilities; 

@layer components {
  .text-primary {
    color: var(--primary-color);
  }

  .bg-light {
    background-color: var(--light-color);
  }

  .bg-primary {
    background-color: var(--primary-color);
  }

  .bg-prim-opa {
    background-color: var(--primary-color);
    opacity: 0.9;
  }


  .text-p {
    /* color: #3A98B9; */
    color: #2980B9;
  }
  .bg-p {
    /* background-color: #3A98B9; */
    background-color: #2980B9;
  }

  .text-b {
    color: #34495E;
  }
  .bg-b {
    background-color: #34495E;
  }

  .text-fa {
    color: #FAFAFA;
  }
  .bg-fa {
    background-color: #FAFAFA;
  }
  .border-fa {
    border-color: #fafafa;
  }

  .text-6 {
    color: #666;
  }
  .bg-6 {
    background-color: #666;
  }
  .border-d {
    border-color: #ddd;
  }

  .text-ec {
    color: #ECF0F1;
  }
  .bg-ec {
    background-color: #ECF0F1;
  }
  .border-ec {
    border-color: #ECF0F1;
  }
  .outline-ec {
    outline-color: #ECF0F1;
  }

  .bg-red {
    background-color: #C0392B;
  }
  .text-red {
    color: #C0392B;
  }

  .border-red {
    border-color: #C0392B;
  }
  .border-ec {
    border-color: #ECF0F1;
  }

  .text-green {
    color: #1ABC9C;
  }
  .bg-green {
    background-color: #1ABC9C;
  }

  .text-yellow {
    color: #f1c40f;
  }
  .text-orange {
    color: #f39c12;
  }


}

:root {
  --primary-color: #2980B9;
  --dark-color: #34495E;
  --light-color: #ECF0F1;
} 

html,
body {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  /* background-color: #FAFAFA; */
  overflow-x: hidden;
  font-size: 14px;
}

html,
input,
button {
  font-family: 'Poppins', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: var(--dark-color);
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

input,
button,
a {
  color: inherit;
}

.container { 
  max-width: 1200px;
  padding: 0 10px;
  margin: 0 auto;
}

.h-192 {
  height: 48rem;
}